@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-shade-1: #404040;
    --bg-shade-2: #858585;
    --bg-shade-3: #d3d3d3;
  }

  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground font-sans;
  }
}
